
form input{
    height: 45px;
    width: 10rem;
    margin: 5px;
}
.form-container form label {
    padding-bottom:10px;
}

.form-container form input {
    height: 35px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 3px;
}